In [ ]:
import pandas as pd
from random import randrange
import numpy as np

In [1]:
players_dict = {'diego':5,'oren shemesh':5,'eminio':5,'asanko':5,  
                
            'or zion':4,'shay zaafani':4,'laka':4,'asmalash':4,
                
            'mordechai amar':3,'gal':3,'mordechai amami':3,'shalom alevi':3,
                
             'rotem ovad':2,'avi pakdo':2,'beni machluf':2,'jonh sharabni':2,
                
             'erez':1,'ori biri':1,'eran azulai':1,'avi dabach':1}

In [107]:
players_dict = {'diego':89,'oren shemesh':95,'eminio':87,'asanko':86,  # 85-100
                
            'zion':74,'shay zaafani':78,'laka':82,'asmalash':79,  #75-84
                
            'mordechai':66,'gal':73,'mordechai amami':69,'16':68, #65-74
                
             'rotem ovad':56,'dor bazon':58,'17':62,'18':60, #56-64
                
             'erez':40,'ori biri':47,'19':38,'20':50} #0-55

In [3]:
players = pd.DataFrame(players_dict.items(), columns=['name','ranking'])
players

               name  ranking
0             diego        5
1      oren shemesh        5
2            eminio        5
3            asanko        5
4           or zion        4
5      shay zaafani        4
6              laka        4
7          asmalash        4
8    mordechai amar        3
9               gal        3
10  mordechai amami        3
11     shalom alevi        3
12       rotem ovad        2
13        avi pakdo        2
14     beni machluf        2
15    jonh sharabni        2
16             erez        1
17         ori biri        1
18      eran azulai        1
19       avi dabach        1

In [103]:
players2[players2['name']=='diego'].ranking.item()

5

In [11]:
#random.seed(a=None, version=2)

players2 = players.copy()
levels = [5,4,3,2,1]
teams = [[],[],[],[]]
n = 1


for i in teams:
    print('\n','team',n)
    n = n+1
    for l in levels:
        level_group = players2[players2['ranking']==l].name
        chosen = np.random.choice(level_group)
        print(players2[players2['name']==chosen].ranking.item(),'-',chosen)
        i.append(chosen)
        players2.drop(players2.index[players2['name'] == chosen], inplace = True)

 team 1
5 - asanko
4 - or zion
3 - shalom alevi
2 - rotem ovad
1 - ori biri

 team 2
5 - eminio
4 - asmalash
3 - gal
2 - avi pakdo
1 - avi dabach

 team 3
5 - oren shemesh
4 - laka
3 - mordechai amami
2 - beni machluf
1 - eran azulai

 team 4
5 - diego
4 - shay zaafani
3 - mordechai amar
2 - jonh sharabni
1 - erez

In [7]:
for a in range(0,4):
    print(teams[a],'\n')

['oren shemesh', 'shay zaafani', 'shalom alevi', 'jonh sharabni', 'erez']

['eminio', 'laka', 'mordechai amar', 'rotem ovad', 'eran azulai']

['asanko', 'asmalash', 'mordechai amami', 'avi pakdo', 'ori biri']

['diego', 'or zion', 'gal', 'beni machluf', 'avi dabach']